@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'D-DIN';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/D-DIN-Bold.woff2) format('woff2');
  }
}

:root {
  font-family: PingFang SC, Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A5562;
}

